VITE_SUPABASE_URL=https://yhgpvupqcbpphemmrpoc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_2sg1xdSYTU__qEM4CnJW3w_elUBM169
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TANlfLqxJ9q4TKfn9IqEAgrsvXEgYZ9e9wqMvEZXwVn0GgEuXQTBip4MyNjKR4bmyVGfQRMZmPeeDze12rZ3IUs00VRo8N55P
